{# src/Shirukiz/MangaBundle/Resources/views/Manga/MangaAjout.html.twig #}
{% extends "ShirukizMangaBundle::layout.html.twig" %}

{% block body %}
    <table id="LivreAjout">
        <tr>
            <th>Ajouter une série !</th>
        </tr>
        <tr>
            <td>{{ form(form)}}</td>
        </tr>
    </table>
      

    
    
{% endblock %}

