
{% extends "ShirukizMangaBundle::layout.html.twig" %}

{% block body %}
    
    <nav id='MenuPlus'>
        <ul>
            <li><a href="{{path('shirukiz_figurine_ajout')}}">Ajouter une figurine</a></li>
        </ul>
    </nav>
        <table id="Collection">
            <tr>
                <th style='background-color: rgb(1,114,190);color:white;'>Collection</th>
            </tr>
            <tr><td>
            {% for f in listefigurine %}
                <table>
                    <tr><td><img src="../uploads/img/{{f.image.url}}" alt="Manga" /></td></tr>
                </table>
               
            {% endfor %}
                </td>
            </tr>
        </table>


    
    
    
{% endblock %}

