
{% extends "ShirukizMangaBundle::layout.html.twig" %}

{% block body %}
    <table id="LivreAjout">
        <tr>
            <th>Ajouter !</th>
        </tr>
        <tr>
            <td>{{ form(form)}}</td>
        </tr>
    </table>
      

    
    
{% endblock %}

