{# src/Shirukiz/MangaBundle/Resources/views/Default/index.html.twig #}


{% extends "ShirukizMangaBundle::layout.html.twig" %}

{% block title %}
{% endblock %}

{% block body %}
    <div id="Accueil">
        <h1>Dernier mangas achetés !</h1>
        <div id="AccueilImg">
            {% for l in livre %}
                <img src="../uploads/img/{{l.image.url}}" alt="Volume" />
            {% endfor %}
        </div>
    </div>
    <div id="Accueil">
        <h1>Dernier jeux achetés !</h1>
        <div id="AccueilImg">
            {% for j in jeux %}
                <img src="../uploads/img/{{j.image.url}}" alt="Volume" />
            {% endfor %}
        </div>
    </div>    
{% endblock %}

