
    
    {# src/Shirukiz/MangaBundle/Resources/views/Manga/MangaCollection.html.twig #}
{% extends "ShirukizMangaBundle::layout.html.twig" %}

{% block body %}
    <div id="Accueil">
    <h1>Manga</h1>
    {% if listeManga is not empty %}
        {% for manga in listeManga %}
            <table  id="Manga">
                <tr>

                    <td>
                        <a href="{{ path('shirukiz_manga_volume',{'id': manga.id })}}"><img src="../uploads/img/{{manga.image.url}}" alt="Manga" /> </a>
                    </td>
                </tr>
                <tr>
              
                    <td>
                        <div class="progress">
                            <div class="determinate" style="width: {{ render(controller("ShirukizMangaBundle:Manga:VolumePo",{ 'id': manga.id })) }}%"></div>
                        </div>
                    </td>
                </tr>
                </table>
        {% endfor %}
    {% else %}
        Nada... O_O
    {% endif %}
    <h1>Jeux</h1>
    {% if listeJeux is not empty %}
        {% for jeux in listeJeux %}
                
                    {{ include("ShirukizJeuxVideoBundle:Jeux:AffichageJeux.html.twig") }}
                 
               
            {% endfor %}
    {% else %}
        Nada... O_O
    {% endif %}
    
    </div>
{% endblock %}
