{# src/Shirukiz/MangaBundle/Resources/views/layout.html.twig #}
<head>
    
    {% stylesheets 'bundles/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {% stylesheets 'bundles/css/materialize.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% javascripts 'bundles/js/materialize.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% block title %}
        <title>Shirukiz</title>
    {% endblock %} 
</head>
<body id="Site">
    <div id="Menu">
        {{ include("ShirukizMangaBundle:Default:menu.html.twig") }}    
    </div>       
    <div id="page">
    {% block body %}


    {% endblock %}
    </div>
       

    
    
    
    
</body>