<table  id="Manga">
    <tr>
        <th COLSPAN="2"><img src="../bundles/img/Image.png" alt="Modifier" id="Logo" style="float:left"/></h1>{{ jeux.nom }}<img src="../bundles/img/Modifier.png" alt="Modifier" id="Logo"/></th>
    </tr>

    <tr>

        <td COLSPAN="2">
            <img src="../uploads/img/{{jeux.image.url}}" alt="Manga" />
        </td>
    </tr>
    <tr>
        <td>{{ jeux.plateforme }}</td>
        <td>{{ jeux.genre }}</td>
    </tr>
</table>