
{% extends "ShirukizMangaBundle::layout.html.twig" %}

{% block body %}
    
       <div id="Accueil">
            {% for plateform in listePlateforme %}
            <h1>{{ plateform.nom }}</h1>
            {% for jeux in listejeux %}
                {% if jeux.plateforme == plateform.nom %}
                    {{ include("ShirukizJeuxVideoBundle:Jeux:AffichageJeux.html.twig") }}
                {% endif %} 
               
            {% endfor %}
                
            {% endfor %}
        </div>


    
    
    
{% endblock %}

